<h2>Template: <small>Dinamicos</small></h2>
<hr>

<form (ngSubmit)="guardar();" autocomplete="off" #formulario="ngForm">
  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input type="text"
       class="form-control"
       [ngModel]="persona.nombre"
       name="nombre"
       required
      placeholder="Nombre de la persona">
      <span *ngIf="formulario.controls['nombre']?.errors" class="form-text text-danger">El nombre es obligarorio</span>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="text" class="form-control"
        placeholder="Agregar favorito"
        [(ngModel)]="nuevoJuego"
        (keyup.enter)="agregar()"
        name="nuevoJuego"
        >
        <button class="btn btn-outline-primary" type="button" (click)="agregar()">Agregar</button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">

      <div class="input-group mb-1" *ngFor="let item of persona.favoritos; let i = index">
        <input type="text"
        class="form-control"
        placeholder=""
        [(ngModel)]="item.nombre"
        required
        name="item_{{ i }}">

        <button class="btn  btn-outline-danger" type="button"
        (click)="eliminar(i)">
          Eliminar
        </button>

      </div>

    </div>
  </div>

  <div class="row">
   <div class="col-sm-12">
    <button [disabled]="formulario.invalid" type="button" class="btn btn-primary float-end" (click)="guardar()">Guardar</button>
   </div>
  </div>

</form>

<span>Persona</span>
<pre>{{ persona | json }}</pre>
