<h2>Template: Basicos</h2>
<hr>

<div class="row">
  <div class="col">

    <form autocomplete="off" [formGroup]="formulario">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
      </div>
      <div class="col-sm-9">
        <input type="text"
        class="form-control"
        formControlName="nombre"
        placeholder="Nombre del producto">
        <span *ngIf="campoEsValido('nombre')" class="form-text text-danger">Debe ser de 3 letras</span>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
      </div>
      <div class="col-sm-9">
        <input type="number"
        class="form-control"
        formControlName="precio"
        placeholder="Precio del producto">
        <span *ngIf="campoEsValido('precio')" class="form-text text-danger">El precio debe ser mayor a 0</span>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
      </div>
      <div class="col-sm-9">
        <input type="number"
        class="form-control"
        formControlName="existencias"
        placeholder="Existencias del producto">
        <span *ngIf="campoEsValido('existencias')" class="form-text text-danger">La existencia debe ser mayor a 0</span>
      </div>

      <div class="row">
        <div class="col">
          <button (click)="guardar()" type="submit" class="btn-primary float-end mt-3">Guardar</button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="row">
  <div class="col">
      <span>Valid</span>
      <pre>{{ formulario.valid }}</pre>

      <span>Pristine</span>
      <pre>{{ formulario.pristine }}</pre>

      <span>Touched</span>
      <pre>{{ formulario.touched }}</pre>

      <span>Value</span>
      <pre>{{ formulario.value | json }}</pre>
  </div>
  </div>
